.post {
  text-align: left;
  margin: 20px auto;
  max-width: 40%;
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
