.App {
  text-align: center;
}

.post {
  text-align: left;
  margin: 20px auto;
  max-width: 1200px;
  background-color: rgb(104, 174, 199);
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 10px;
}
